:root {
    --background-color: rgba(6, 23, 30);
    --overlay-background-color: rgba(9, 33, 42);

    --font-color: rgba(255, 255, 255);
    --slide-number-color: rgba(245, 245, 245);

    --img-border-color: rgba(18, 70, 88);
    --hover-img-border-color: rgba(107, 193, 255);

    --clicked-closed-button: rgba(13,50,64);
    --clicked-arrow-button: rgba(253, 91, 79, 0.5);
}